# Server Configuration
PORT=6589

# Administrative Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Session / Authentication Token
AUTH_TOKEN=ca978112ca1bbdcafac231b39a23dc4da786eff8147c4e72b9807785afee48bb
